In [2]:
# Lab Assignment No-6
# Data Analytics III
# 1. Implement Simple Naïve Bayes classification algorithm using Python/R on iris.csv dataset.
# 2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall 
# on the given dataset.

import numpy as np
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/adv-11/TE-COMP/main/dsbda/lab3/iris.csv')
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [43]:
x = dataset.iloc[:,1:5]
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [10]:
y=dataset['Species']
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [44]:

#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test =  train_test_split(x, y, test_size = 0.2)

In [45]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [46]:
# Training the Naive Bayes Classification model on the Training Set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train , Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [47]:
# Predicting the Test set results
Y_pred = classifier.predict(X_test)
Y_pred

array(['Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa'], dtype='<U15')

In [51]:
#Step 7: Confusion Matrix and Accuracy
#This is a step that is mostly used in classification techniques. 
#In this, we see the Accuracy of the trained model and plot the confusion matrix.

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
cm = confusion_matrix(Y_test , Y_pred)
print ("Accuracy Score : " ,accuracy_score(Y_test , Y_pred)*100 , "%")

Accuracy Score :  96.66666666666667 %

In [42]:
df = pd.DataFrame({'Real Values ' : Y_test , 'Predicted Values ' : Y_pred} )
df

        Real Values  Predicted Values
138   Iris-virginica    Iris-virginica
99   Iris-versicolor   Iris-versicolor
26       Iris-setosa       Iris-setosa
36       Iris-setosa       Iris-setosa
106   Iris-virginica   Iris-versicolor
74   Iris-versicolor   Iris-versicolor
60   Iris-versicolor   Iris-versicolor
124   Iris-virginica    Iris-virginica
76   Iris-versicolor   Iris-versicolor
121   Iris-virginica    Iris-virginica
2        Iris-setosa       Iris-setosa
115   Iris-virginica    Iris-virginica
50   Iris-versicolor   Iris-versicolor
139   Iris-virginica    Iris-virginica
23       Iris-setosa       Iris-setosa
64   Iris-versicolor   Iris-versicolor
4        Iris-setosa       Iris-setosa
128   Iris-virginica    Iris-virginica
112   Iris-virginica    Iris-virginica
92   Iris-versicolor   Iris-versicolor
51   Iris-versicolor   Iris-versicolor
103   Iris-virginica    Iris-virginica
6        Iris-setosa       Iris-setosa
118   Iris-virginica    Iris-virginica
85   Iris-versicolor   Iris-versicolor
77   Iris-versicolor   Iris-versicolor
3        Iris-setosa       Iris-setosa
15       Iris-setosa       Iris-setosa
29       Iris-setosa       Iris-setosa
88   Iris-versicolor   Iris-versicolor

In [50]:
#  Creating a dataframe for a array-formatted Confusion matrix,so it will be easy for plotting.

cm_df = pd.DataFrame(cm,
                     index = ['SETOSA','VERSICOLR','VIRGINICA'], 
                     columns = ['SETOSA','VERSICOLR','VIRGINICA'])
cm_df

           SETOSA  VERSICOLR  VIRGINICA
SETOSA          8          0          0
VERSICOLR       0         11          0
VIRGINICA       0          1         10

In [53]:
# In the multi-class classification problem, we won’t get TP, TN, FP, FN values directly as in the binary classification
# We need to calculate for each class 
#REFER: https://www.analyticsvidhya.com/blog/2021/06/confusion-matrix-for-multi-class-classification/

from sklearn.metrics import classification_report
print(classification_report (Y_test , Y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         8
Iris-versicolor       0.92      1.00      0.96        11
 Iris-virginica       1.00      0.91      0.95        11

       accuracy                           0.97        30
      macro avg       0.97      0.97      0.97        30
   weighted avg       0.97      0.97      0.97        30